@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&family=Roboto&display=swap");

:root {
  --header-height: 3rem;

  /* colors */

  --primary-textcolor: #32292f;
  --secondary-textcolor: #705d56;
  --hover-color: #32292f;
  --body-color: hsl(154, 30%, 95%);
  --container-color: #fff;
  --t-color:#fff;
  --box-inset:#cbced1;
  --scroll-bar-color: var(--primary-textcolor);
  --scroll-thumb-color: var(--secondary-textcolor);

  /* font */

  --body-font: "Poppins", sans-serif;
  --secondary-font: "Playfair Display", serif;

  /* font-size */

  --big-font: 2rem;
  --h1-font: 1.5rem;
  --h2-font: 1.25rem;
  --h3-font: 1.125rem;
  --normal-font: 0.9rem;
  --small-font: 0.8rem;
  --smaller-font: 0.75rem;

  /* font-weight  */
  --font-medium: 500;
  --font-semi-medium: 600;

  /* margins bottom  */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 0.3rem;

  /* z-index   */
  --z-toottip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

body.dark-theme {
  transition: 1s;
  --primary-textcolor: #ffe4c4;
  --primary-textcolor2: #32292f;
  --secondary-textcolor: #705d56;
  --secondary-textcolor: #705d56;
  --primary-textcolor2: #32292f;
  --t-color:#32292f;
  --box-inset:#3B3C36;
  --hover-color: #ffe4c4;
  --secondary-textcolor-lighter: white;
  --input-color: white;
  --body-color: black;
  --container-color: #fff;
  --scroll-bar-color: var(--primary-textcolor);
  --scroll-thumb-color: var(--secondary-textcolor);
}

/* font-size for larger-device  */

@media screen and (min-width: 968px) {
  :root {
    --big-font: 3rem;
    --h1-font: 2.25rem;
    --h2-font: 1.5rem;
    --h3-font: 1.25rem;
    --normal-font: 1rem;
    --small-font: ..875rem;
    --smaller-font: 0.8rem;
  }
}

/*CSS Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font);
  background-color: var(--body-color);
  color: var(--secondary-textcolor);
  overflow-x: hidden;
}

/* Common */

h1,
h2,
h3,
h4 {
  color: var(--secondary-textcolor);
  font-weight: var(--font-semi-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-textcolor);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 768px;
  margin-left: var(--mb-2);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 2rem 0 4rem;
}

.scroll {
  scroll-margin-top: 72px;
}

.section_title {
  color: var(--primary-textcolor);
  font-size: var(--big-font);
  text-align: center;
  margin: 3rem;
  font-family: var(--secondary-font);
}

.button {
  display: inline-block;
  background-color: var(--secondary-textcolor);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: var(--font-medium);
  margin-top: 1rem;
}

.button:hover {
  background-color: var(--hover-color);
}

.button_icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

hr {
  width: 75%;
  margin: auto;
  margin-top: 2rem;
}

/* Header */

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.navbar {
  /* max-width: 968px; */
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
}

.logo {
  font-size: 1rem;
  margin-left: var(--mb-2-5);
}

.logo {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.logo::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
  background-color: var(--hover-color);
}

.logo:hover::after {
  width: 100%;
}

.logo:hover {
  color: var(--hover-color);
}

.logo,
.nav-toggle {
  color: var(--secondary-textcolor);
  font-weight: var(--font-medium);
  text-decoration: none;
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font);
  color: var(--secondary-textcolor);
  font-weight: var(--font-medium);
}

.nav-link:hover {
  color: var(--hover-color);
}

.nav_close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--secondary-textcolor);
}

.nav_close:hover {
  color: var(--primary-textcolor);
}

.nav-btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--secondary-textcolor);
  margin-right: var(--mb-0-75);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--primary-textcolor);
}

.nav-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--primary-textcolor);
}
.nav-icon {
  font-size: 1.2rem;
}

.nav-btns {
  position: fixed;
  right: 8rem;
}



@media screen and (max-width: 766px) {
  .nav_menu {
    position: fixed;
    transition: 0.6s;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
  }
}

.show-menu {
  bottom: 0;
}

@media screen and (min-width: 766px) {
  .header {
    top: 0;
    bottom: initial;
    background-color: var(--body-color);
    transition: 0.4s;
  }

  .navbar {
    width: initial;
    height: calc(var(--header-height) + 1.5rem);
    box-shadow: none;
    border-radius: 0;
    column-gap: 3rem;
    margin-inline: 1.5rem;
    padding: 0;
  }

  .nav-list {
    display: flex;
    column-gap: 4rem;
  }
  .nav-link i,
  .nav-toggle,
  .nav_close {
    display: none;
  }
  .nav-link {
    font-size: var(--normal-font);
  }
  
}

@media screen and (min-width:766px) and (max-width:1024px){
  .nav-list{
    column-gap: 2rem;
  }
  .nav-btns {
    position: fixed;
    right: 2rem;
  }
  .timeline-section{
    margin: 1rem;
  }
  .scrollup{
    display: none
  }
}

@media screen and (max-width:766px) {
  .nav-btns {
    position: static;
  }

  .home_scroll{
    margin-left: 2rem;
  }

  .timeline-section {
    width: 95%;
  }

  .scrollup{
    display: none;
  }
}



/* home */

.home_container {
  gap: 1rem;
}

.home_content {
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: var(--secondary-textcolor);
}

.home_social-icon:hover {
  color: var(--hover-color);
}

.home_data {
  grid-column: 1/3;
  margin-top: -2rem;
}
.home_title {
  font-family: var(--secondary-font);
  font-size: var(--big-font);
  color: var(--primary-textcolor);
}

.home_subtitle {
  font-size: var(--h3-font);
  color: var(--secondary-textcolor);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home_description {
  margin-bottom: var(--mb-1);
  font-size: var(--small-font);
}

.imp {
  margin-top: var(--mb-2);
  display: flex;
}

.link {
  display: block;
  padding: 5px;
}

.link:hover {
  color: var(--hover-color);
}

.home_scroll-button {
  color: var(--primary-textcolor);
  transition: 0.5s;
}

.home_scroll:hover {
  transform: translateY(0.25rem);
}

.home_scroll-mouse {
  font-size: 2rem;
}

.home_scroll-name {
  font-size: var(--font-medium);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home_scroll-arrow {
  font-size: 1.25rem;
}

@media screen and (min-width: 1024px) {
  .home_content {
    padding-top: 3.5rem;
  }
  .home {
    place-content: center;
  }

  .home_social {
    width: 200px;
    place-content: end;
  }
}

/* Experience */

.timeline-section {
  min-height: 100vh;
}

.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: calc(50% - 1px);
}
.timeline-item {
  margin-bottom: 3.5rem;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: var(--secondary-textcolor);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.logo2 {
  width: 50px;
  height: 50px;
  background-color: #705d56;
  border: 2px solid #705d56;
  border-radius: 5px;
}

.timeline-date {
  font-size: 1.2rem;
  color: var(--secondary-textcolor);
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: var(--primary-textcolor);
  padding: 25px;
  border-radius: 5px;
}

.img_title {
  display: flex;
}

.timeline-content h2 {
  color: var(--t-color);
  margin-left: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}

@media (max-width: 767px) {
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0.5rem;
  }
}

/* Skiils */

.skillsContainer {
  place-content: center;
}

.skill-content {
  width: 100%;
}

.skill-title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--normal-font-s);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
  color: var(--primary-textcolor);
}

.skill-title i {
  font-size: 1rem;
  font-weight: initial;
}

.skillInfo,
.skillData,
.skillBlob {
  display: grid;
}

.skillInfo {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 2rem;
}

.skillsData {
  justify-content: center;
  text-align: center;
}

.skillBlob {
  width: 80px;
  height: 100px;
  border-color: var(--container-color);
  border-radius: 3rem;
  place-items: center;
  margin-bottom: 1rem;
  transition: background 0.4s;
  /* For dark mode animation */
}

.skillBlob img {
  width: 60px;
}

.slillName {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.skillSubtitle {
  padding-top: 2px;
  font-size: var(--tiny-font-size);
  color: var(--secondary-textcolor-light);
}

@media screen and (min-width: 766px) {
  .skillsContainer {
    place-content: center;
  }

  .skill-content {
    width: 100%;
  }

  .skill-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    font-size: var(--normal-font-s);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
    color: var(--primary-textcolor);
  }

  .skill-title i {
    font-size: 1rem;
    font-weight: initial;
  }

  .skillInfo,
  .skillData,
  .skillBlob {
    display: grid;
  }

  .skillInfo {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 8rem; 
  }

  .skillsData {
    justify-content: center;
    text-align: center;
  }

  .skillBlob {
    width: 80px;
    height: 100px;
    border-color: var(--container-color);
    border-radius: 3rem;
    place-items: center;
    margin-bottom: 1rem;
    margin-right: 2rem; 
    transition: background 0.4s;
    
  }

  .skillBlob img {
    width: 60px;
  }

  .skillName {
    font-size: var(--small-font-size);
    margin-bottom: 0.25rem;
  }

  .skillSubtitle {
    padding-top: 2px;
    font-size: var(--tiny-font-size);
    color: var(--secondary-textcolor-light);
  }

  .skillData {
    margin-bottom: 2rem; /* Added margin bottom to each skill data */
  }
}

/* Animation skills */
.skillBlob:hover img {
  animation: bounceSkill 0.6s;
}

@keyframes bounceSkill {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translate(0);
  }

  60% {
    transform: translateY(-3px);
  }

  80% {
    transform: translate(0);
  }
}

.education-section {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.education-item {
  margin-bottom: 20px;
}

.degree {
  font-size: 20px;
  padding-bottom: 1rem;
}

/* Project */

.card__article img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container1 {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: white;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--secondary-textcolor);
  margin-bottom: 0.75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--primary-textcolor2);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container1 {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  /* .container1 {
      height: 100vh;
    } */

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

/*contact form*/

#section-wrapper {
  width: 100%;
  padding: 10px;
}
.box-wrapper {
  position: relative;
  display: table;
  width: 1100px;
  margin: auto;
  margin-top: 35px;
  border-radius: 30px;
}
.info-wrap {
  width: 35%;
  height: 551px;
  padding: 40px;
  float: left;
  display: block;
  border-radius: 30px 0px 0px 30px;
}
.info-title {
  text-align: left;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.info-sub-title {
  font-size: 18px;
  font-weight: 300;
  margin-top: 17px;
  letter-spacing: 0.5px;
  line-height: 26px;
}
.info-details {
  list-style: none;
  margin: 60px 0px;
}
.info-details li {
  margin-top: 25px;
  font-size: 18px;
  /* color: #fff; */
}
.info-details li i {
  /* background: #F44770; */
  /* padding: 12px; */
  border-radius: 50%;
  margin-right: 5px;
}
.info-details li a {
  color: var(--secondary-textcolor);
  text-decoration: none;
}
.info-details li a:hover {
  color: var(--primary-textcolor);
}

.social-icons {
  list-style: none;
  text-align: center;
  margin: 20px 0px;
}
.social-icons li {
  display: inline-block;
}
.social-icons li i {
  /* background: #F44770; */
  color: #fff;
  padding: 15px;
  font-size: 20px;
  border-radius: 22%;
  margin: 0px 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.social-icons li i:hover {
  background: #fff;
  color: #000000;
}
.form-wrap {
  width: 65%;
  float: right;
  padding: 40px 25px 35px 25px;
  border-radius: 0px 30px 30px 0px;
  /* background: #ecf0f3; */
}
.form-title {
  text-align: left;
  margin-left: 23px;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.form-fields {
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: var(--secondary-textcolor);
  padding: 20px 10px 20px 5px;
  width: 100%;
}
.form-fields textarea {
  height: 150px;
  resize: none;
}
.form-group {
  width: 46%;
  float: left;
  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px var(--box-inset),
    inset -8px -8px 8px var(--t-color);
}
.form-fields .form-group:last-child {
  width: 96%;
}
.submit-button {
  width: 96%;
  height: 60px;
  margin: 0px 12px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--secondary-textcolor);
  text-align: center;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px var(--t-color);
  transition: 0.5s;
  background-color: #fff;
  
}
.submit-button:hover {
  background: var(--primary-textcolor);
  color: var(--t-color);
}
/* Responsive css */
@media only screen and (max-width: 1024px) {
  .box-wrapper {
    width: 100%;
  }
  .info-wrap,
  .form-wrap {
    width: 100%;
    height: inherit;
    float: none;
  }
  .info-wrap {
    border-radius: 30px 30px 0px 0px;
  }
  .form-wrap {
    border-radius: 0px 0px 30px 30px;
  }
  .form-group {
    width: 100%;
    float: none;
    margin: 25px 0px;
  }
  .form-fields .form-group:last-child,
  .submit-button {
    width: 100%;
  }
  .submit-button {
    margin: 10px 0px;
  }
}

.footer {
  padding-top: 2rem;
  text-align: center;
  height: 10rem;
  
}

.footer_container {
  row-gap: 3.5rem;
}

.footer_bg {
  background-color: var(--primary-textcolor);
  padding: 2rem 0 3rem;
}

.footer_title {
  font-size: var(--h1-font);
  margin-bottom: var(--mb-0-25);
}

.footer_links {
  display: flex;

  gap: 1.5rem;
  justify-self: center;
}



.footer_social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}



.footer_copy {
  position: relative;
  top: 2rem;
}

.footer_title,
.footer_subtitle,
.footer_links,
.footer_social,
.footer_link,
.footer_copy {
  color: var(--t-color);;
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: 0;
  
  opacity: 0.8;
  padding: 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-toottip);
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--secondary-textcolor);
}

.scrollup_icon {
  font-size: 1.5rem;
  color: var(--t-color);
}

.show-scroll {
  bottom: 5rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .home_scroll {
    position: relative;
    left: 35rem;
  }
}
